.card{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  max-width: 250px;
  display: inline-block;
  text-align: center;
}

.card .cardImage{
  max-width:60%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.card .card-title{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card .card-text{
  font-size: 1rem;
  color: #555;
}